.btn {
    padding: 10px 50px;
    font-size: 16px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    font-weight: 500;
    border-radius: 10px;
    transition: 200ms;
    cursor: pointer;
}

.btn--active{
    background-color: orange;
    color: #fff;
   
}